#loadingView{
	width:960 px;
	height:540 px;
	position:absolute;

}
#gameView{
	
}
.loadingVisable{
	visibility:visible;
}
.loadingHide{
	visibility:hidden;
	
}

#canvas {
	position:relative;
	border:1px solid black;
	cursor:none;
}

#belowGame {

	width: 960px;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}

#chat {
	display: inline-block;
	position: relative;
	left: 0px;
	
	height: 69px;
	width: 460px;
	border: 1px solid black;

}
#chatmsg {
	width: 460px;
}

#insideChat {
	overflow: auto;
	width: 460px;
	height: 69px;
}

h1{
	color:blue;
}

#hp
{
	display: inline-block;
	position: relative;
	border:1px solid black;
	height:16px;
	width:473px;
	clear:both;
	background-color:red;

}

#hp span#hp_remaining
{
	width: 100%;
	height:16px;
	clear:both;
	display:block;
	background-color:green;
	text-align:center;
	color:white;
}